@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Bungee&family=Federant&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Supermercado+One&display=swap");

:root {
  --color-primary: #eab46d;
  --color-secondary: #6f3a00;
  --color-accent: #4e8d13;
  --color-light: #f8e4c4;
  --color-dark: #1a1a1a;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  min-height: 100%;
  cursor:
    url("./assets/cursor.png") 16 16,
    auto;
}
.cursor-trail .circle {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-color: #ff7344;
  position: absolute;
  top: 0;
  left: 0;
}
.cursor-trail,
.cursor-trail .circle {
  pointer-events: none;
}

header h1 {
  font-family: "Bungee", cursive;
  font-size: 72px;
  text-align: center;
}
.particle {
  position: fixed;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;

  animation: explode 700ms ease-out forwards;
}
form {
  max-width: 600px;
  margin: auto;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 1rem 0;
}

form span {
  font-family: "Federant", sans-serif;
  font-weight: bold;
  font-size: 36px;
}

form input {
  width: min(320px, 90%);
  padding: 12px 14px;
  border: 3px solid var(--color-secondary);
  border-radius: 12px;
  background: var(--color-light);
  color: var(--color-secondary);
  font-size: 1rem;
  outline: none;
  box-shadow: 4px 4px 0 var(--color-secondary);
  transition: 0.2s ease;
}
form select {
  width: min(320px, 90%);
  padding: 12px 14px;
  border: 3px solid var(--color-secondary);
  border-radius: 12px;
  background: var(--color-light);
  color: var(--color-secondary);
  font-size: 1rem;
  outline: none;
  box-shadow: 4px 4px 0 var(--color-secondary);
  transition: 0.2s ease;
  cursor: pointer;
}
form select option {
  background: var(--color-light);
  color: var(--color-secondary);
}
form input:focus,
form select:focus {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0 var(--color-accent);
  border-color: var(--color-accent);
}

a,
button {
  cursor: pointer;
}
/* 
input[type="text"],
textarea {
  cursor: text;
} */

@keyframes explode {
  from {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(var(--x), var(--y)) scale(0);
    opacity: 0;
  }
}
